.big-button {
    background-color: $fb-white;
    border: none;
    border-bottom: .4rem solid darken($fb-off-white, 10%);
    color: black;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: .5;
    
}

.button {
    background-color: $fb-off-white; 
    border: none;
    border-bottom: .2rem solid darken($fb-off-white, 10%);
    color: black;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: darken($fb-off-white, 10%);
    padding: 0;
}

@media (min-width: 45rem) {
    .margin-bottom {
        margin-bottom: $xl-size;
    }
}