.widget {
   background-color: $fb-off-blue;
   margin-bottom: $xl-size;
}

.widget__message {
    color: darken($fb-white, 10%);
    text-align: center;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($fb-off-blue, 10%);
}

.widget-header {
    background-color: $fb-blue;
    color: $fb-off-white;
    display: flex;
    padding: $m-size;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}